*.swp
*.py.swp
*.pyc
*tgs/local_settings_rus.py
nohup.out
catalog/__pycache__/__init__.cpython-35.pyc
catalog/__pycache__/admin.cpython-35.pyc
catalog/__pycache__/apps.cpython-35.pyc
catalog/__pycache__/models.cpython-35.pyc
catalog/__pycache__/urls.cpython-35.pyc
catalog/__pycache__/views.cpython-35.pyc
main/__pycache__/__init__.cpython-35.pyc
main/__pycache__/admin.cpython-35.pyc
main/__pycache__/apps.cpython-35.pyc
main/__pycache__/models.cpython-35.pyc
tgs/__pycache__/__init__.cpython-35.pyc
tgs/__pycache__/local_settings_rus.cpython-35.pyc
tgs/__pycache__/settings.cpython-35.pyc
tgs/__pycache__/urls.cpython-35.pyc

